@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/cuprum.woff') format('woff');
  src: url('../fonts/cuprum.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/cuprumbold.woff') format('woff');
  src: url('../fonts/cuprumbold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/cuprumbolditalic.woff') format('woff');
  src: url('../fonts/cuprumbolditalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
} 

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/cuprumitalic.woff') format('woff');
  src: url('../fonts/cuprumitalic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/ptsans.woff') format('woff');
  src: url('../fonts/ptsans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/ptsansbold.woff') format('woff');
  src: url('../fonts/ptsansbold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

/* -----body {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.list-styles-reset {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page-header {
  background-color: #f4f7f9;  
}

.button {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #000000;
}

.h1-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c; 
  width: 940px;
  height: 89px;
  background-color: #f2f6f8;
}

.hammer-drill-title,
.services .h2-title,
.company-about .h2-title,
.contacts .h2-title,
.hammer-drill-about .h2-title-style {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000; 
}

.hammer-drill-about  {
  width: 1200px;
  height: 261px;
  background-color: #f4f7f9;
}

.user-navigation p,
.user-link-list a {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.shop-info p {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.shop-info a {
  font-size: 21px;
  line-height: 21px;
  font-style: normal;
  color: #ee3643;
}

.shop-info .address {
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  color: #32425c; 
}

.user-login a {
  font-size: 21px;
  line-height: 21px;
  font-style: normal;
  color: #000000; 
}

.user-login a:hover {
  color:#ee3643; 
}

.user-login a:active {
  color:rgba(0, 0, 0, 0.3); 
}

.user-login .user-login-list a {
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  color: #32425c;
  text-decoration: underline; 
}

.user-login-list a:hover {
  color:#ee3643;
  text-decoration: underline; 
}

.user-login-list a:active {
  color:rgba(0, 0, 0, 0.3);
  text-decoration: underline; 
}

.user-navigation,
.user-navigation input {
  background-color: #293449;
}

.user-navigation a:hover,
.user-navigation input {
  background-color: #212a3a;
}

.user-navigation a:active {
  color:rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.user-navigation input:focus {
  color: #000000;
  background-color:#ffffff;
}

.page-navigation {
  background-color: #32425c;  
}

.page-navigation a {
  font-size: 17px;
  line-height: 12px;
  color: #ffffff;
}

.page-navigation a:hover {
  background-color: #293449;
}

.page-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.catalog-navigation a,
.filter .show-button,
.filter-form .h2-title,
.catalog-page-number a {
  font-size: 13px;
  line-height: 18px;
  font-style: normal;
  font-family: 'PT Sans', 'Arial', sans-serif;
  text-transform: uppercase;
  color: #000000; 
}

.h3-title {
  font-size: 17px;
  line-height: 30px;
  font-style: bold;
  font-family: 'PT Sans', 'Arial', sans-serif;
  text-transform: uppercase;
  color: #000000; 
}

.filter .select-company-list,
.filter .charge-type-list {
  font-size: 15px;
  line-height: 20px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  text-transform: uppercase;
  color: #000000; 
}

.product-card .h2-title {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
  font-family: 'PT Sans', 'Arial', sans-serif;
  } 

.product-card p {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-decoration: line-through;
  color: #999999;
  font-family: 'PT Sans', 'Arial', sans-serif;
  } 

.product-card a {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  background-color: #000000;
  font-family: 'PT Sans', 'Arial', sans-serif;
  } 

.shop-button button,
.offers-list-promo a,
.popular-products .all-popular-products,
.popular-companies .all-popular-companies {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
  } 

.offers-list-promo {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  opacity: 0.1;
  background-color: #000000;
  } 

.offers-list-promo a:hover {
  opacity: 0.2;
  background-color: #000000;
  } 

.offers-list-promo a:active {
  opacity: 0.3;
  background-color: #000000;
  } 

.slider-title {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
  } 

.slider-description {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-color: #000000;
  } 

.slider-content a,
.popular-products a,
.credit a,
.company-about a,
.contacts button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
  } 

.popular-h2-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f9f5f0;
  } 

.services {
  background-color: #f4f7f9; 
}

.features,
.contacts p,
.hammer-drill-description,
.services p,
.services-slide p,
.company-about p {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  font-family: 'PT Sans', 'Arial', sans-serif;
  } 
  
.services-slide .services-title-style {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
  } 

.services-slide button {
  font-size: 21px;
  line-height: 30px;
  color: #32425c;
  } 

.partners-list {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  }  

.map-message,
.pop-up-cart {
  display: none;
}

.page-footer {
  background-color: #32425c;
}

.page-footer-navigation,
.page-footer-navigation a, 
.footer-navigation-list a {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.page-footer-navigation a:hover {
  text-decoration: underline;
}

.page-footer-navigation a:active {
  color:rgba(241, 245, 247, 0.5);
}

.footer-offers-list a {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.page-footer-info {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.page-footer-info a {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}

.page-footer-info a:hover {
  text-decoration: underline;
}

.page-footer-info a:active {
  color:#ee3643;
  text-decoration: none;
}----- */

/* ----- Сеточные стили ----- */


html,
body {
  min-width: 1200px;
  min-height: 3151px;
}

body {
  /* Временно для сетки */
  background-image: url("../css/technomart_index.jpg");
  background-repeat: no-repeat;
}

.page-header {
  /* Временно для сетки */
  min-height: 320px;
  background-color: green;
  opacity: 0.2;
}

 
