@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/cuprum.woff') format('woff');
  src: url('../fonts/cuprum.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/cuprumbold.woff') format('woff');
  src: url('../fonts/cuprumbold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/cuprumbolditalic.woff') format('woff');
  src: url('../fonts/cuprumbolditalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
} 

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/cuprumitalic.woff') format('woff');
  src: url('../fonts/cuprumitalic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/ptsans.woff') format('woff');
  src: url('../fonts/ptsans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/ptsansbold.woff') format('woff');
  src: url('../fonts/ptsansbold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  color: #000000;
  background-color: #ffffff;
}

svg path {
  stroke:inherit;
  stroke-width:inherit;
  fill:inherit;
  }

a {
  text-decoration: none;
}

.list-styles-reset {
  list-style: none;
}


.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  background-color: #f4f7f9;  
}

/*.button {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}*/

.h1-title {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c; 
  margin-top: 30px;
  margin-left: 30px;
  background-color: #f2f6f8;
}

.hammer-drill-title,
.services .h2-title,
.company-about-container .h2-title,
.main-contacts .h2-title,
.h2-title-style {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
  font-style: normal;
  color: #000000; 
}



.hammer-drill-description {
  margin-bottom: 70px;
}

.main-contacts .h2-title {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 25px;
}

.company-about-container .h2-title {
  display: block;
  margin: 0;
  margin-top: 15px;
  padding: 0;
}

.hammer-drill-about  {
  font-size: 13px;
  line-height: 24px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-style: normal;
  width: 1200px;
  height: 261px;
  background-color: #f4f7f9;
}

.hammer-drill-about .h2-title-style {
  margin-top: 67px;
}


.user-link-list a,
.page-search .input-search {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

 .user-link {
  display: inline-block;
  color: #ffffff;
  padding: 0;
  margin: 0;
  width: 150px;
  height: 42px;
  background-color:#293449;
}


.user-link:hover,
.page-search:hover,
.page-search input:hover {
  background-color: #212a3a;
}

.bookmarks {
  position: relative;
}

.bookmarks svg {
  position: absolute;
  top: 12px;
  left: 20px;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.cart {
  position: relative;
}

.cart svg {
  position: absolute;
  top: 12px;
  left: 20px;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.make-order {
  display: inline-block;
  color: #ffffff;
  padding: 0;
  margin: 0;
  width: 150px;
  height: 42px;
  background-color: #63a63e;
}

.make-order:hover {
  background-color: #5fbb2d;
}

.make-order:active {
  opacity: 0.5;
  background-color: #518534;
}

.user-link-list a {
  display: inline-block;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 13px;
}

.user-link a {
  margin-left: 44px;
}


.make-order a {
  margin-left: 20px;
}

.user-navigation,
.user-navigation input {
  background-color: #293449;
}

.user-link:active {
  color:rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.user-navigation input:focus {
  color: #000000;
  background-color:#ffffff;
}

.shop-info p {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  text-align: left;
  white-space: nowrap;
  margin: 0;
  color: #ee3643;
}

.header-contacts a {
  position: relative;
  font-size: 21px;
  line-height: 21px;
  font-style: normal;
  text-align: middle;
  color: #e9292a;
  border: 3px solid #ffffff;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 11px;
  padding-left: 70px;
  padding-right: 40px;
}

.header-contacts a::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 230px;
  
  width: 19px;
  height: 19px;
  
  background: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
}

.header-contacts p {
  display: block;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  color: #32425c; 
}

.user-login a,
.user-login p {
  font-size: 21px;
  line-height: 21px;
  font-style: normal;
  display: block;
  padding: 0;
  margin:0;
  margin-top: 8px;
  text-align: center;
  color: #000000; 
}


.log-in {
 width: 121px;
 height: 45px;
 background-color: #ffffff;
}

.log-in {
  position: relative;
  padding-left: 24px;
  
 }

 .log-in svg {
  position: absolute;
  top: 10px;
  right: 87px;
  
  width: 20px;
  height: 17px;
  background-position: 0 0;
  fill: #c5c5c5;
  
 }

 .log-in svg:hover {
   fill: #293449;
 } 

.registration {
  width: 150px;
  height: 45px;
  margin-left: 10px;
  background-color: #ffffff;
 }

.user-login a:hover {
  color:#ee3643; 
}


.user-login a:active {
  color: #000000;
  opacity: 0.3;
}

.catalog-login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70px;
}

.user-login-list {
  display: flex;
  justify-content: space-between;
  height: 20px;
  margin: 0;
  margin-right: 40px;
  margin-bottom: 53px;
  padding: 0;
}

.user-login-list a {
  display: block;
  width: 104px;
  height: 14px;
  margin: 0;
  margin-top: -10px;
  margin-left: -10px;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  color: #32425c;
  text-decoration: underline; 
}

.user-login-list a:hover {
  color:#ee3643;
  text-decoration: underline; 
}

.user-login-list a:active {
  color:#32425c;
  opacity: 0.3;
  text-decoration: underline; 
}



.site-navigation a {
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  height: 60px; 
  margin: 0;
  padding-top: 16px;
  padding-bottom: 22px;
  padding-left: 32px;
  padding-right: 35px;
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;

  /*временно для сетки
  outline: 2px solid pink;*/

}



.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}


.site-navigation a {
  font-size: 17px;
  line-height: 17px;
  font-style: normal;
  color: #ffffff;
}

.catalog-navigation a,
.filter .show-button,
.filter-form .h2-title,
.catalog-page-number a {
  font-size: 13px;
  line-height: 18px;
  font-style: normal;
  font-weight: normal;
  font-family: 'PT Sans', 'Arial', sans-serif;
  text-transform: uppercase;
  color: #000000; 
}




.h3-title {
  font-size: 17px;
  line-height: 30px;
  font-style: bold;
  font-family: 'PT Sans', 'Arial', sans-serif;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  color: #000000; 
}

.filter .select-company-list,
.filter .charge-type-list {
  font-size: 15px;
  line-height: 20px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  text-transform: uppercase;
  color: #000000; 
}


.select-company-list input {
  display: none;

}

.select-company-list label {
  margin: 0;
  margin-left: 30px;
  padding: 0;
  position: relative;
}

.select-company-list label::before
{
  content: "";
  position: absolute;
  top: -4px;
  left: -30px;
  
  width: 23px;
  height: 23px;
  
  background: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.select-company-list input:checked + label:before {

  background: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}
.select-company-list input:disabled + label:before {
  background: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.charge-type-list input {
  display: none;

}

.charge-type-list label {
  margin: 0;
  margin-left: 30px;
  padding: 0;
  position: relative;
}

.charge-type-list label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -30px;
  
  width: 25px;
  height: 25px;
  
  background: url("../img/radio-off.svg");
  background-repeat: no-repeat;
}

.charge-type-list input:checked + label:before {
  background: url("../img/radio-on.svg");
  background-repeat: no-repeat;
}
.charge-type-list input:disabled + label:before {
  background: url("../img/radio-off.svg");
  background-repeat: no-repeat;
}


.product-card {
  position: relative;
  display: inline-block;
  width: 220px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
  border: 1px solid #eaeaea;
  min-height: 318px;


   /* Временно для сетки 
   min-height: 318px;
   list-style: none;
   outline: 3px solid yellow; */
}

.product-card::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  
  width: 60px;
  height: 60px;
  

  background: url("../img/new-flag.png");
  background-repeat: no-repeat;
}

.product-card img {
  max-width: 100%;
}

.product-card .h2-title {
  display: block;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  min-height: 40px;
  margin: 0;
  color: #000000;
  font-family: 'PT Sans', 'Arial', sans-serif;
  } 

.product-card p {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-decoration: line-through;
  padding: 0;
  margin: 0;
  margin-top: 12px;
  margin-bottom: 8px;
  color: #999999;
  font-family: 'PT Sans', 'Arial', sans-serif;
  } 

.product-card a {
  position: relative;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  width: 120px;
  height: 40px;
  margin:0;
  margin-left: 42px;
  padding: 0;
  font-family: 'PT Sans', 'Arial', sans-serif;
  background-color: #ee3643;
  } 

.product-card a::after {
  content: "";
  position: absolute;
  top: 0px;
  right: -40px;
  
  width: 0;
  height: 0;
  
  border: 20px solid white;
  border-left-color: #ee3643;
  } 

.price-invisible {
  opacity: 0;
}

.product-card .actions {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 44px;
  left: 45px;
  
  width: 150px;
  height: 110px;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.product-card .actions .buy,
.product-card .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0;
  margin-bottom: 7px;
  padding: 7px 0;
  
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;

  border-radius:3px;
  
  color: white;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.product-card .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.product-card .actions {
  display: none;
}

.product-card:hover img {
  visibility: hidden;
}

.product-card:hover .actions {
  display: block;
}

.product-card:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.product-card svg {
  fill: #ffffff;
  opacity: 0.3;
}

.shop-button button {
  display: inline-block;
}

.shop-button button:hover svg {
  fill: #ffffff;
  opacity: 1;
}

.pop-up-cart {
  display: none;
}

.actions .buy:hover {
  background-color: #5fbb2d;
}


.actions .buy:active {
  background-color: #518534;
}


.actions .buy {
  position: relative;
}

.actions .buy svg {
  position: absolute;
  top: 8px;
  left: 12px;
  opacity: 0.3;

}


.product-card .actions .bookmark:hover {
  border: 3px solid #32425c;
}

.product-card .actions .bookmark:active {
  opacity: 0.3;

}


.shop-button button,
.offers-list-promo a,
.all-popular-products,
.all-popular-companies {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  } 

.promo-row p,
.promo-column p {
  margin: 0;
  margin-left: 23px;
  margin-top: 23px;
  margin-bottom: 12px;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  } 

.promo-row a,
.promo-column a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  width: 135px;
  height: 38px;
  border-radius: 2px;
  margin: 0;
  margin-left: 25px;
  padding: 0;
  opacity: 0.1;
  background-color: #000000;
  }
  

.promo-card a:hover {
  opacity: 0.2;
  background-color: #000000;
  } 

.promo-card a:active {
  opacity: 0.3;
  background-color: #000000;
  } 

.slider-title {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  } 

.slider-description {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  } 

.slider-content a,
.credit a,
.company-about a,
.write-us,
.submit-message-container button,
.cart-buttons-container button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  } 

.popular-h2-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  margin-left: 28px;
  padding: 0;
  color: #32425c;
  } 

.services {
  background-color: #f4f7f9; 
}

.features,
.main-contacts p,
.hammer-drill-description,
.services p,
.services-slide p,
.company-about p {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  font-family: 'PT Sans', 'Arial', sans-serif;
  } 
  
.services-slide .services-title-style {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
  margin-bottom: 34px;
  } 




.partners-list {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  }
  
  
.company-about a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  width: 220px;
  height: 38px;
  margin: 0;
  margin-top: 32px;
  background-color: #ee3643;
}

.company-about p {
  margin-top: 25px;
}

.partners-list li {
  position: relative;
  margin-top: 22px;
}

.partners-list li::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 485px;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}


.main-contacts img {
  margin-top: 20px;
}

.write-us {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 38px;
  margin-top: 30px;
  border-radius: 2px;
  border: none;
  background-color: #ee3643;

}



.map-message {   /*окно скрыто*/
  position: fixed; 
  color: #000000;
  background-color: #ffffff;
  border-top: 7px solid #ee3643;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  z-index: 200;

  display: none; 
}

.added-cart-message {   /*окно скрыто*/
  position: fixed; 
  color: #000000;
  background-color: #ffffff;
  border-top: 7px solid #ee3643;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  z-index: 200;

  display: none; 
}

.map-message-container {
  top: 120px;
  left: 50%;

  width: 620px;
  height: 430px;
  margin-left: -400px;
  padding: 50px 80px;
}

.cart-message-container {
  top: 120px;
  left: 50%;

  width: 620px;
  height: 282px;
  margin-left: -400px;
  padding: 50px 80px;
}

.cart-message p {
  display: block;
  margin: 0;
  margin-bottom: 68px;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
}

.cart-message {
  position: relative;
}

.cart-message svg {
  position: absolute;
  top: -20px;
  left: 40px;
  width: 66px;
  height: 66px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  
  width: 21px;
  height: 21px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}


.modal-close svg {
  position: absolute;
  top: 0;
  right: 0;
  
  width: 21px;
  height: 21px;
}

.message-form label {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.message-form input,
.message-form textarea {
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.message-form-container {
  display: flex;
  flex-direction: column;
  width: 460px;
  margin: 0 auto;


/*временно для сетки
  outline: 2px solid red;*/

}


.message-user-name,
.message-user-email {
  display: flex;
  flex-direction: column;
  width: 220px;
  margin: 0;


/*временно для сетки
  outline: 2px solid blue;*/

}

.data-message-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 460px;
  height: 120px;
  margin: 0;


/*временно для сетки
  outline: 2px solid red;*/

}

.data-message-container label,
.message-user-text label {
  margin-bottom: 13px;
}

.data-message-container input {
  width: 220px;
  height: 38px;
  border: solid 2px #dee3e4;
  box-sizing: border-box;

}

.message-user-text textarea {
  width: 458px;
  height: 114px;
  border: solid 2px #dee3e4;

}

.submit-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 620px;
  height: 112px;
  margin-top: 37px;
  background-color: #f4f4f4;
}

.cart-buttons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: 112px;
  margin: 0;
  margin-top: 37px;
  background-color: #f4f4f4;
}

.submit-message-container button {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 460px;
  height: 38px;
  background-color: #ee3643;
  border-radius: 2px;
  border: 0;

}

.cart-buttons-container button {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
  width: 220px;
  height: 38px;
  background-color: #ee3643;
  border-radius: 2px;
  border: 0;

}


.page-footer-navigation,
.page-footer-navigation a, 
.footer-navigation-list a {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.page-footer-navigation a:hover {
  text-decoration: underline;
}

.page-footer-navigation a:active {
  color:rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.footer-offers-list a {
  display: block;
  margin-left: 60px;
  margin-top: 42px;
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.page-footer-info {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.page-footer-info a {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}

.page-footer-info a:hover {
  text-decoration: underline;
}

.page-footer-info a:active {
  color:#ee3643;
  text-decoration: none;
}

/* ----- Сеточные стили ----- */


html,
body {
  min-width: 100px;
}

/*body {
  /* Временно для сетки
  background-image: url("../css/technomart-catalog.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}*/

.container{
  width: 940px;
  margin: 0 auto;
  padding: 0;
   /* Временно для сетки
  outline: 2px solid blue;*/
}

.page-header {
  width: auto;
  height: 320px;
  margin: 0 auto;
  background-color: #f4f7f9;
  /* Временно для сетки
  outline: 2px solid green;*/
}

.user-navigation-container {
  width: auto;
  height: 42px;
  margin: 0 auto;
  background-color: #293449;
  /* Временно для сетки
  min-height: 42px;
  outline: 2px solid yellow;*/
}

.page-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;

   /* Временно для сетки
   outline: 2px solid rgb(4, 4, 71);*/ 
}

.user-navigation {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  height: 42px;

  /*Временно для сетки
 min-height: 42px;
 outline: 2px solid red;*/
}

.page-header-logo {
  width: 220px;
  height: 47px;
  padding: 0;
  margin: 0;
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  display: inline-block;
 
  /* Временно для сетки
  outline: 3px solid black;*/ 
}

.page-header-logo a:hover {
  background-color: #ca2c37;
}

.page-header-logo a:active {
  background-color: #ba2732;
}

.page-header-logo img {
  display: block;
  margin: 0 auto;
  margin-top: 13px;
}

.user-navigation-wrapper {
  display: flex;
  width: 720px;
  height: 42px;
  padding: 0;
  margin: 0;
  margin-right: auto;
  /*Временно для сетки

 outline: 4px solid rgb(247, 239, 239);*/
}

.page-search {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 270px;
  height: 42px;
  background-color: #293449;

 /* Временно для сетки
  min-height: 42px;
  outline: 2px solid green;*/ 
}


.page-search svg {
  position: absolute;
  top: 12px;
  left: 20px;
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  background-position: 0 0;
  fill: #ffffff;
  opacity: 0.3;
  
  /*временно
  outline: 2px solid red;*/
}

.page-search input {
  display: inline-block;
  margin: 0;
  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: 48px;
  padding: 0;
  opacity: 1;
  border: none;

}

.page-search:hover svg {
  fill: #ffffff;
  opacity: 1;
}

.page-search:hover input {
  background-color: #212a3a;
}

.page-search input:hover::-webkit-input-placeholder {
  color: #ffffff;
}

.page-search input:hover:-moz-placeholder {
  color: #ffffff;
}

.page-search input:focus .page-search {
  background-color:  #ffffff;
  opacity: 1; 
}

.page-search:active svg {
  fill: #ee3643;
}







 .user-link-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 450px;
  fill: #ffffff;
  

 /* Временно для сетки
  list-style: none; 
  min-height: 42px;
  outline: 2px solid green;*/
}


.main-user-info {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 940px;
  height: 175px;
   /*Временно для сетки
   min-height: 158px;
   outline: 3px solid rgb(0, 255, 76); */
}

.shop-info {
  width: 196px;
  margin: 0;
  margin-top: 46px;
  padding: 0;
  margin-left: 53px;
  /*margin-bottom: 41px;*/
  
   /* Временно для сетки
   min-height: 70px;
   outline: 3px solid red; */ 
}

.header-contacts {
  display: flex;
  flex-direction: column;
  width: 270px;
  padding: 0;
  margin: 0;
  margin-top: 46px;
  margin-left: 71px;
  /*margin-bottom: 41px;*/
  

   /* Временно для сетки 
   min-height: 70px;
   outline: 3px solid red; */
}

.user-login {
  display: flex;
  justify-content: space-between;
  width: 281px;
  margin: 0;
  padding: 0;
  margin-top: 46px;
  margin-right: auto;
  margin-left: 69px;
  /*margin-bottom: 67px;*/
  

   /* Временно для сетки
   min-height: 45px;
   outline: 3px solid red; 
   list-style: none; */
}

.login-link-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 45px;
  margin: 0;
  margin-left: -20px;
  margin-bottom: 20px;
  padding: 0;
  background-color: #ffffff;

  border: 2px solid red;
}

.login-link-list p {
  display: block; 
  width: 183px;
  height: 20px;
  margin: 0;
  margin-top: 8px;
  margin-left: 47px;
  margin-right: 69px;
  margin-bottom: 12px;
  padding: 0;
  white-space: nowrap;


  border: 2px solid red;
}

.login-link-list .user-icon svg {
  position: absolute;
  width: 20px;
  height: 18px;
  top: 13px;
  left: 13px;

}

.login-link-list .log-out-icon svg {
  position: absolute;
  width: 20px;
  height: 18px;
  top: 13px;
  right: 14px;

}


.login-link-list svg { 
    fill:#c5c5c5; 
  }

.login-link-list svg:hover { 
  fill: #32425c; 
}


.site-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 940px;

  /* Временно для сетки
  list-style: none;
  min-height: 60px;
  outline: 3px solid rgb(245, 13, 187);*/
}

.promo-block {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0;
  margin-top: 59px;
  margin-bottom: 53px;
  padding: 0;
  

   /* Временно для сетки 
   list-style: none;
   min-height: 409px;
   outline: 3px solid red;*/
}

.promo-row li,
.promo-column li {
  width: 300px;
  height: 123px;
  margin: 0;
  padding: 0;
  

   /*Временно для сетки 
   list-style: none;
   outline: 3px solid red;*/  
}

.promo-row {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  

   /* Временно для сетки 
   list-style: none;
   min-height: 123px;
   outline: 3px solid green; */
}

.promo-row :nth-child(2) {
  margin-left: 20px;
  margin-right: 20px;
}

.promo-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 940px;
  

   /* Временно для сетки
   list-style: none;
   outline: 3px solid violet; */ 
}

.slider-content {
  position: relative;
  width: 620px;
  height: 266px;
  margin: 0;
  padding: 0;
  

   /* Временно для сетки 
   list-style: none;
   outline: 3px solid green; */
}



.slider-title {
  position: absolute;
  top: -10px;
  left: 20px;
  width: 94px;
  height: 30px;


  
}


.slider-description {
  position: absolute;
  top: 45px;
  left: 20px;
  width: 161px;
  height: 17px;
  white-space: nowrap;


}

.slider-content a {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 200px;
  left: 20px;
  width: 195px;
  height: 38px;
  background-color: #ee3643;
  border-radius: 2px;
}

.slider-content a:hover {
  background-color: #ca2c37;
}

.slider-content a:active {
  background-color: #ba2732;
}


.popular-container a:hover {
  background-color: #ca2c37;
}

.popular-container a:active {
  background-color: #ba2732;
}



.slider-left ,
.slider-right {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  z-index: 20;
}

.slider-left {
  position: absolute;
  top: 110px;
  left: 20px;
  width: 22px;
  height: 40px;

}

.slider-left svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 40px;
  fill: #ffffff;



}

.slider-right {
  position: absolute;
  top: 110px;
  left: 570px;
  width: 22px;
  height: 40px;


}

.slider-right svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 40px;
  fill: #ffffff;


}

.promo-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  margin: 0;
  padding: 0;
  

   /* Временно для сетки 
   list-style: none;
   outline: 3px solid blue; */
}

.promo-materials {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #ffbf47;
}

.promo-materials::before {
  content: "";
  position: absolute;
  top: 31px;
  left: 213px;
  width: 44px;
  height: 65px;
  background-image: url("../img/materials_icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.promo-tools {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #3bbce3;
}

.promo-tools::before {
  content: "";
  position: absolute;
  top: 31px;
  left: 197px;
  width: 75px;
  height: 61px;
  background-image: url("../img/tools_icon.svg");
  background-repeat: no-repeat;
}

.promo-technic {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #dc91d8;
}

.promo-technic::before {
  content: "";
  position: absolute;
  top: 31px;
  left: 191px;
  width: 78px;
  height: 62px;
  background-image: url("../img/technic_icon.svg");
  background-repeat: no-repeat;
}

.promo-discounts {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #8ed78f;
}

.promo-discounts::before {
  content: "";
  position: absolute;
  top: 26px;
  left: 196px;
  width: 59px;
  height: 72px;
  background-image: url("../img/discounts_icon.svg");
  background-repeat: no-repeat;
}

.promo-delivery {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #ffc047;
}

.promo-delivery::before {
  content: "";
  position: absolute;
  top: 32px;
  left: 191px;
  width: 78px;
  height: 63px;
  background-image: url("../img/delivery_icon.svg");
  background-repeat: no-repeat;
}

.popular-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  height: 89px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 21px;
  background-color: #f9f5f0;
  

   /* Временно для сетки 
   min-height: 89px;
   outline: 3px solid red; */
}

.all-popular-products,
.all-popular-companies {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 253px;
  height: 38px;
  border-radius: 3px;
  margin: 0;
  margin-right: 24px;
  padding: 0;
  background-color: #ee3643;
}

.product-list {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 21px;


   /* Временно для сетки 
   list-style: none;
   min-height: 318px;
   background-color: rgba(68, 216, 236, 0.377);
   outline: 3px solid red;*/ 
}

.popular-conpanies-list {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  width: 940px;
  height: 310px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 85px;


   /* Временно для сетки
   list-style: none;
   min-height: 310px;
   background-color: rgba(68, 216, 236, 0.377);
   outline: 3px solid red;  */
}

.popular-conpanies-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;


   /* Временно для сетки 
   list-style: none;
   outline: 3px solid blue;*/ 
}

.popular-conpanies-list a:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-conpanies-list a:active {
  opacity: 0.3;
}


.services {
  width: auto;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 60px;
  min-height: 522px;

   /* Временно для сетки 
   list-style: none;
   min-height: 522px;
   outline: 3px solid yellow;*/ 
}

.main-company-info {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 86px;
  padding: 0;
  min-height: 390px;

   /* Временно для сетки 
   list-style: none;
   min-height: 390px;
   background-color: rgba(68, 216, 236, 0.377);
   outline: 3px solid red;*/ 
}

.page-footer {
  width: auto;
  height: 300px;
  margin: 0 auto;
  padding: 0;


   /* Временно для сетки 
   list-style: none;
   outline: 3px solid blue; */
}

.page-footer-navigation {
  /*display: flex;
  justify-content: space-between;*/
  width: auto;
  height: 193px;
  margin: 0 auto;
  padding: 0;
  background-color: #32425c;

   /* Временно для сетки 
   list-style: none;
   outline: 3px solid blue; */
}

.page-footer-info {
  /*display: flex;
  justify-content: space-between;*/
  width: auto;
  height: 107px;
  margin: 0 auto;
  padding: 0;
  background-color: #293449;
 
  


   /* Временно для сетки 
   list-style: none;
   outline: 3px solid yellow; */
}

.page-footer-info .container {
  display: flex;
  justify-content: space-between;
  height: 107px;
  margin: 0 auto;
  padding: 0;
  padding-top: 20px;
 


   /* Временно для сетки 
   
   list-style: none;
   outline: 3px solid blue; */
}

.footer-navigation-container {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0;
  padding: 0;
  min-height: 68px;


   /* Временно для сетки 
   min-height: 68px;
   list-style: none;
   outline: 3px solid green; */
}

.page-footer-logo {
  width: 220px;
  height: 68px;
  padding: 0;
  margin: 0;
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  display: inline-block;
 
  /* Временно для сетки
  outline: 3px solid black;*/ 
}

.page-footer-logo {
  display: flex;
  justify-content: center;
  align-content: center;
}

.page-footer-logo img {
  padding-top: 20px;
}


.footer-info-container {
  display: flex;
  justify-content: space-between;
  width: 940px;
  height: 125px;
  margin: 0;
  padding: 0;


   /* Временно для сетки 
   list-style: none;
   outline: 3px solid red;*/ 
}

.footer-contacts-container {
  width: 330px;
  height: 125px;
  margin: 0 auto;
  padding: 0;


   /* Временно для сетки 
   list-style: none;
   outline: 3px solid blue;*/ 
}

.footer-navigation-list {
  display: flex;
  justify-content: space-between;
  width: 720px;
  margin: 0;
  margin-left: 170px;
  padding: 0;


   /* Временно для сетки 
   min-height: 68px;
   list-style: none;
   outline: 3px solid blue; */
}

.footer-navigation-list a {
  display: block;
  margin-top: 42px;

}

.footer-offers-list {
  display: flex;
  justify-content: space-between;
  width: 610px;
  height: 125px;
  margin: 0 auto;
  padding: 0;


   /* Временно для сетки 
   list-style: none;
   outline: 3px solid white;*/ 
}




.social-buttons-list {  
  display: flex;
  justify-content: space-between;
  width: 140px;
  height: 42px;
  margin-left: 40px;

   /* Временно для сетки
   min-height: 42px;
   list-style: none;
   outline: 3px solid blue;  */
}

.social-button {
  position: relative;
  display: block;
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  border-radius: 50%;
}

.social-button:hover,
.social-button:active {
  background-color: #ee3643;
  
}


.vk-button a::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  
  width: 26px;
  height: 15px;
  
  background: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
 
   /* Временно для сетки 
   list-style: none;
   outline: 3px solid blue; */
}


.fb-button a::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 15px;
  
  width: 12px;
  height: 22px;

  background: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
 
   /* Временно для сетки 
   list-style: none;
   outline: 3px solid blue;*/ 
}


.inst-button a::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  
  width: 21px;
  height: 21px;
  

  background: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
 
   /* Временно для сетки 
   list-style: none;
   outline: 3px solid blue; */
}

.catalog-navigation {
  display: flex;
  justify-content: flex-start;

  width: 940px;
  margin: 0 auto;
  padding: 0;
  height: 59px;


   /* Временно для сетки
   min-height: 59px;
   list-style: none;
   outline: 3px solid blue;  */
}

.catalog-navigation a {
  display: block;
  margin: 0;
  margin-top: 20px;
  margin-right: 10px;
}

.catalog-navigation svg {
  margin-right: 10px;
  fill: #C1C6CE;
}


.h1-title-container {
  width: 940px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0;
  height: 89px;


   /* Временно для сетки 
   min-height: 89px;
   list-style: none;
   outline: 3px solid blue; */
}

.catalog-container {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  padding: 0;


   /* Временно для сетки 
   min-height: 1052px;
   list-style: none;
   outline: 3px solid blue;*/ 
}

.filer-form-container form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 220px;
  margin: 0;
  padding: 0;


   /* Временно для сетки 
   min-height: 1052px;
   list-style: none;
   outline: 3px solid red;*/ 
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 220px;
  margin: 0;
  padding: 0;


   /* Временно для сетки */
   min-height: 1052px;
   list-style: none;
   outline: 3px solid red; 
}



.filter-title-container {
  display: flex;
  align-items: center;
  padding-left: 10px;
  width:220px;
  height: 38px; 
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  background-color: #f7f3ec;


   /* Временно для сетки 
   min-height: 38px;
   list-style: none;
   outline: 3px solid red; */
}

.filter-form .h2-title {
  margin-top: -7px;
  margin-left: 18px;
  width: 53px;
  height: 9px;

   /* Временно для сетки 
   outline: 3px solid red; */
}




.filter-container {
  display: flex;
  flex-direction: column;
  width:220px; 
  margin: 0;
  padding: 0;


   /* Временно для сетки  

   list-style: none;
   outline: 3px solid red;*/
}

.filter ul {
  margin: 0;
  padding: 0;
}

.filter li {
  margin-top: 20px;

}

.filter button {
  width: 140px;
  height: 38px;
  margin-top: 75px;
  border: 1px solid  #e5e5e5;
  border-radius: 2px;
  background-color: #ffffff;
}

.price-filter-container {
  display: block;

}

.pricecount-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:  'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 18px;
  width: 220px;
  height: 130px;
  background-color: #f7f3ec;
}


.catalog-product-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 700px;
  margin: 0;
  padding: 0;


   /* Временно для сетки 
   min-height: 1052px;
   list-style: none;
   outline: 3px solid green; */
}

.sorting-container {
  position: relative;
  display: flex;
  justify-content: space-between;

  width: 700px;
  margin: 0;
  padding: 0;
  height: 38px;
  background-color: #f7f3ec;


   /* Временно для сетки 
   min-height: 38px;
   list-style: none;
   outline: 3px solid red;*/ 
}

.sorting-container::after {
  content: "";
  position: absolute;
  top: 14px;
  right: 50px;
  
  width: 11px;
  height: 10px;
  
  background: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;

}



.sorting-container::before {
  content: "";
  position: absolute;
  top: 14px;
  right: 17px;
  
  width: 11px;
  height: 10px;
  
  background: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;

}

.sorting-container ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 481px;
  margin: 0;
  margin-right: 106px;
  padding: 0;


   /* Временно для сетки 
   min-height: 38px;
   list-style: none;
   outline: 3px solid red; */
}

.sorting-container a{
  display: block;
  margin-left: 50px;
}


.sorting-container .h2-title {
  margin: 0;
  margin-top: 10px;
  margin-left: 19px;
  padding: 0;
  width: 218px;
  height: 38px;

   /* Временно для сетки 
   outline: 3px solid red; */
}

.sorting-container ul,
.sorting-container .h2-title {
font-size: 13px;
line-height: 18px;
text-transform: uppercase;
font-weight: normal;
font-family: 'PT Sans', 'Arial', sans-serif;
color: #000000;

}

.sorting-container a {
  color: rgba(0, 0, 0, 0.18);
  border-bottom: 1px dotted #ee3643;
}

.sorting-container a:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sorting-container a:active {
  color: #ee3643;
  border: 0;
}

.product-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 700px;
  margin: 0;
  margin-top: 20px;
  padding: 0;


   /* Временно для сетки 
   min-height: 993px;
   list-style: none;
   outline: 3px solid red; */
}

.services-main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 940px;
  height: 522px;
  margin: 0 auto;
  padding: 0;


   /* Временно для сетки
   list-style: none;
   outline: 3px solid pink; */ 
  

}

.services-description {
  margin: 0;
  padding: 0;
  padding-top: 40px;
}

.services-container {
  display: flex;
  justify-content: space-between;
  width: 940px;
  height: 300px;
  margin: 0;
  padding: 0;


   /* Временно для сетки
  
   list-style: none;
   outline: 3px solid green; */ 

}


.services-slider-container {
  display: flex;
  justify-content: space-between;
  width: 600px;
  height: 183px;
  margin: 0;
  padding: 0;


   /* Временно для сетки
  
   list-style: none;
   outline: 3px solid black; */ 

}



.services-buttons-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 240px;
  height: 183px;
  margin: 0;
  margin-top: 23px;
  padding: 0;


   /* Временно для сетки
  
   list-style: none;
   outline: 3px solid black; */ 

}

.services-buttons-container::after {
  content: "";
  position: absolute;
  top: -50px;
  left: 230px;
  width: 10px;
  height: 279px;
  background-image: url("../img/services-shadow.png");
  background-repeat: no-repeat;

}

.services-slide {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  width: 470px;
  height: 61px;


   /* Временно для сетки
   list-style: none;
   outline: 3px solid blue; */ 

}

.delivery::after {
  content: "";
  position: absolute;
  top: 21px;
  left: 231px;
  width: 468px;
  height: 261px;
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;

  /*border: 2px solid green;*/

}

.guarantee::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 271px;
  width: 389px;
  height: 283px;
  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;

  /*border: 2px solid green;*/

}

.credit::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 200px;
  width: 465px;
  height: 285px;
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;

  /*border: 2px solid green;*/

}

.credit {
  white-space: nowrap;
}

.credit-slide-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
  margin-top: 45px;
  font-size: 14px;
  line-height: 18px;
  color:#ffffff;
  text-transform: uppercase;
  width: 195px;
  height: 38px;
  background-color: #ff5357;
  border-radius: 2px;
  border: 0;
}

.services-buttons-container button {
  display: block;
  font-size: 21px;
  line-height: 30px;
  width: 240px;
  height: 61px;
  color: #ffffff;
  background-color: #32425c;
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
  border: 0;
  } 

.service-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 23px;
}

.services-buttons-container button:hover {
  background-color: #293449;
}

.services-buttons-container button:active {
  color: #32425c;
  background-color: #ffffff;
}

.services-slides-container {
  display: block;
  width: 440px;
  height: 183px;

  /*временно для сетки
  border: 2px solid red;*/
}

.services-slide {
  display: block;
  width: 440px;
  height: 183px;

  /*временно для сетки
  border: 2px solid blue;*/
}

.services-slide p {
  margin: 0;
  margin-left: 80px;

}

.page-numder-container {
  display: flex;
  justify-content: flex-start;
  width: 700px;
  margin: 0;
  margin-left: auto;
  margin-top: 52px;
  padding: 0;


   /* Временно для сетки 
   min-height: 38px;
   list-style: none;
   outline: 3px solid blue; */
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  margin-right: 10px;
  border: solid 1px #e5e5e5;
  border-radius: 2px;
}

.next-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 38px;
  margin-right: 10px;
  border: solid 1px #e5e5e5;
  border-radius: 2px;
}

.catalog-page-number a:hover {
  border: solid 1px #bdc6ca;
}

.catalog-page-number a:active {
  border: solid 1px #ee3643;
}

.active a {
  background-color: #ee3643;
}

.gray-wide-background {
  width: auto;
  margin: 0 auto;
  margin-left: auto;
  margin-top: 60px;
  padding: 0;
  padding-top: 10px;
  height: 261px;


   /* Временно для сетки
   min-height: 261px;
   list-style: none;
   outline: 3px solid blue;  */
}















 
