@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/cuprum.woff') format('woff');
  src: url('../fonts/cuprum.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/cuprumbold.woff') format('woff');
  src: url('../fonts/cuprumbold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/cuprumbolditalic.woff') format('woff');
  src: url('../fonts/cuprumbolditalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
} 

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/cuprumitalic.woff') format('woff');
  src: url('../fonts/cuprumitalic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/ptsans.woff') format('woff');
  src: url('../fonts/ptsans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/ptsansbold.woff') format('woff');
  src: url('../fonts/ptsansbold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.list-styles-reset {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page-header {
  background-color: #f4f7f9;  
}

.button {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #000000;
}

.h1-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c; 
  width: 940px;
  height: 89px;
  background-color: #f2f6f8;
}

.hammer-drill-title,
.services .h2-title,
.company-about .h2-title,
.contacts .h2-title,
.hammer-drill-about .h2-title-style {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000; 
}

.hammer-drill-about  {
  width: 1200px;
  height: 261px;
  background-color: #f4f7f9;
}

.user-link-list a,
.page-search label {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

 .user-link {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 150px;
  height: 42px;
  background-color:#293449;
}

.user-link:hover,
.page-search:hover {
  background-color: #212a3a;
}

.make-order {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 150px;
  height: 42px;
  background-color: #63a63e;
}

.make-order:hover {
  background-color: #5fbb2d;
}

.user-link-list a {
  display: inline-block;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 13px;
}

.user-link a {
  margin-left: 44px;
}


.make-order a {
  margin-left: 20px;
}

.user-navigation,
.user-navigation input {
  background-color: #293449;
}

.user-navigation a:active {
  color:rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.user-navigation input:focus {
  color: #000000;
  background-color:#ffffff;
}

.shop-info p {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  text-align: left;
  white-space: nowrap;
  margin: 0;
  color: #ee3643;
}

.shop-contacts a {
  font-size: 21px;
  line-height: 21px;
  font-style: normal;
  text-align: middle;
  color: #ee3643;
  border: 3px solid #ffffff;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 11px;
  padding-left: 70px;
  padding-right: 40px;
}

.shop-contacts p {
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  color: #32425c; 
}

.user-login a {
  font-size: 21px;
  line-height: 21px;
  font-style: normal;
  display: block;
  padding: 0;
  margin:0;
  margin-top: 8px;
  text-align: center;
  color: #000000; 
}

.log-in {
 width: 121px;
 height: 45px;
 background-color: #ffffff;
}

.log-in a {
  padding-left: 24px;
  
 }

.registration {
  width: 150px;
  height: 45px;
  background-color: #ffffff;
 }

.user-login a:hover {
  color:#ee3643; 
}

.user-login a:active {
  color:rgba(0, 0, 0, 0.3); 
}

.user-login .user-login-list a {
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  color: #32425c;
  text-decoration: underline; 
}

.user-login-list a:hover {
  color:#ee3643;
  text-decoration: underline; 
}

.user-login-list a:active {
  color:rgba(0, 0, 0, 0.3);
  text-decoration: underline; 
}


.site-navigation {
  background-color: #32425c; 
  box-shadow: inset 0px -5px 0 0 #293449;
  min-height: 60px;
}

.site-navigation a {
  display: block;
  text-align: center;
  width: 127px;
  min-height: 60px;
  padding: 0;
  margin: 0;
  /*padding-top: 22px;*/
  background-color: #32425c; 
  box-shadow: inset 0px -5px 0 0 #293449;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}


.page-navigation a {
  font-size: 17px;
  line-height: 12px;
  color: #ffffff;
}

.catalog-navigation a,
.filter .show-button,
.filter-form .h2-title,
.catalog-page-number a {
  font-size: 13px;
  line-height: 18px;
  font-style: normal;
  font-family: 'PT Sans', 'Arial', sans-serif;
  text-transform: uppercase;
  color: #000000; 
}

.h3-title {
  font-size: 17px;
  line-height: 30px;
  font-style: bold;
  font-family: 'PT Sans', 'Arial', sans-serif;
  text-transform: uppercase;
  color: #000000; 
}

.filter .select-company-list,
.filter .charge-type-list {
  font-size: 15px;
  line-height: 20px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  text-transform: uppercase;
  color: #000000; 
}

.product-card .h2-title {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
  font-family: 'PT Sans', 'Arial', sans-serif;
  } 

.product-card p {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-decoration: line-through;
  color: #999999;
  font-family: 'PT Sans', 'Arial', sans-serif;
  } 

.product-card a {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  background-color: #000000;
  font-family: 'PT Sans', 'Arial', sans-serif;
  } 

.shop-button button,
.offers-list-promo a,
.popular-products .all-popular-products,
.popular-companies .all-popular-companies {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
  } 

.offers-list-promo li {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  } 

.offers-list-promo a {
  opacity: 0.1;
  background-color: #000000;
  } 

.offers-list-promo a:hover {
  opacity: 0.2;
  background-color: #000000;
  } 

.offers-list-promo a:active {
  opacity: 0.3;
  background-color: #000000;
  } 

.slider-title {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
  } 

.slider-description {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-color: #000000;
  } 

.slider-content a,
.popular-products a,
.credit a,
.company-about a,
.contacts button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
  } 

.popular-h2-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f9f5f0;
  } 

.services {
  background-color: #f4f7f9; 
}

.features,
.contacts p,
.hammer-drill-description,
.services p,
.services-slide p,
.company-about p {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  font-family: 'PT Sans', 'Arial', sans-serif;
  } 
  
.services-slide .services-title-style {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
  } 

.services-slide button {
  font-size: 21px;
  line-height: 30px;
  color: #32425c;
  } 

.partners-list {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  }  

.map-message,
.pop-up-cart {
  display: none;
}

.page-footer {
  background-color: #32425c;
}

.page-footer-navigation,
.page-footer-navigation a, 
.footer-navigation-list a {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.page-footer-navigation a:hover {
  text-decoration: underline;
}

.page-footer-navigation a:active {
  color:rgba(241, 245, 247, 0.5);
}

.footer-offers-list a {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.page-footer-info {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.page-footer-info a {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}

.page-footer-info a:hover {
  text-decoration: underline;
}

.page-footer-info a:active {
  color:#ee3643;
  text-decoration: none;
}

/* ----- Сеточные стили ----- */


html,
body {
  min-width: 100px;
}

/*body {
  /* Временно для сетки
  background-image: url("../css/technomart-catalog.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}*/

.container{
  width: 940px;
  margin: 0 auto;
  padding: 0;
   /* Временно для сетки*/
  outline: 2px solid blue;
}

.page-header {
  width: auto;
  margin: 0 auto;
  background-color: #f4f7f9;
  /* Временно для сетки*/
  min-height: 320px;
  outline: 2px solid green;
}

.user-navigation-container {
  width: auto;
  margin: 0 auto;
  background-color: #293449;
  /* Временно для сетки*/
  min-height: 42px;
  outline: 2px solid yellow;
}

.page-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;

   /* Временно для сетки*/ 
   /*min-height: 260px;*/
   outline: 2px solid rgb(4, 4, 71);
}

.user-navigation {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;

  /*Временно для сетки*/
 min-height: 42px;
 outline: 2px solid red;
}

.page-header-logo {
  width: 220px;
  height: 47px;
  padding: 0;
  margin: 0;
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  display: inline-block;
 
  /* Временно для сетки*/ 
  outline: 3px solid black;
}

.page-header-logo:hover {
  background-color: #ca2c37;
}

.page-header-logo img {
  display: block;
  margin: 0 auto;
  margin-top: 13px;
}

.user-navigation-wrapper {
  display: flex;
  width: 720px;
  padding: 0;
  margin: 0;
  margin-right: auto;
  /*Временно для сетки*/
 min-height: 42px;
 outline: 4px solid rgb(247, 239, 239);
}

.page-search {
  margin: 0;
  padding: 0;
  width: 270px;

 /* Временно для сетки*/ 
  min-height: 42px;
  outline: 2px solid green;
}

.page-search label {
  display: inline-block;
  margin: 0;
  margin-top: 13px;
  margin-bottom: 16px;
  margin-left: 48px;
  padding: 0;

}

 .user-link-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 450px;
  

 /* Временно для сетки*/
  list-style: none; 
  min-height: 42px;
  outline: 2px solid green;
}


.main-user-info {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 940px;
  /*padding-top: 46px;*/
   /*Временно для сетки*/
   min-height: 158px;
   outline: 3px solid rgb(0, 255, 76); 
}

.shop-info {
  width: 196px;
  margin: 0;
  margin-top: 46px;
  padding: 0;
  margin-left: 53px;
  margin-bottom: 41px;
  
   /* Временно для сетки*/ 
   min-height: 70px;
   outline: 3px solid red; 
}

.shop-contacts {
  display: flex;
  flex-direction: column;
  width: 270px;
  padding: 0;
  margin: 0;
  margin-top: 46px;
  margin-left: 71px;
  margin-bottom: 41px;
  

   /* Временно для сетки */
   min-height: 70px;
   outline: 3px solid red; 
}

.user-login {
  display: flex;
  justify-content: space-between;
  width: 281px;
  margin: 0;
  padding: 0;
  margin-top: 46px;
  margin-right: auto;
  margin-left: 69px;
  margin-bottom: 67px;
  

   /* Временно для сетки */
   min-height: 45px;
   outline: 3px solid red; 
   list-style: none;
}


.site-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 940px;

  /* Временно для сетки*/
  list-style: none;
  min-height: 60px;
  outline: 3px solid rgb(245, 13, 187);
}

.promo-block {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0;
  margin-top: 59px;
  margin-bottom: 53px;
  padding: 0;
  

   /* Временно для сетки */
   list-style: none;
   min-height: 409px;
   outline: 3px solid red; 
}

.promo-row li,
.promo-column li {
  /*display: flex;
  flex-direction: column;
  justify-content: space-between;*/
  width: 300px;
  height: 123px;
  margin: 0;
  padding: 0;
  

   /*Временно для сетки */
   list-style: none;
   outline: 3px solid red;  
}

.promo-row {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  

   /* Временно для сетки */
   list-style: none;
   min-height: 123px;
   outline: 3px solid green; 
}

.promo-row :nth-child(2) {
  margin-left: 20px;
  margin-right: 20px;
}

.promo-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 940px;
  

   /* Временно для сетки*/ 
   /*min-height: 266px;*/
   list-style: none;
   outline: 3px solid violet; 
}

.slider-content {
  width: 620px;
  height: 266px;
  margin: 0;
  padding: 0;
  

   /* Временно для сетки */
   list-style: none;
   outline: 3px solid green; 
}

.promo-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  margin: 0;
  padding: 0;
  

   /* Временно для сетки */
   list-style: none;
   outline: 3px solid blue; 
}

.promo-materials {
  background-color: #ffbf47;
}

.promo-tools {
  background-color: #3bbce3;
}

.promo-technic {
  background-color: #dc91d8;
}

.promo-discounts {
  background-color: #8ed78f;
}

.promo-delivery {
  background-color: #ffc047;
}

.popular-container {
  width: 940px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 21px;
  

   /* Временно для сетки */
   min-height: 89px;
   background-color: rgba(68, 216, 236, 0.377);
   outline: 3px solid red; 
}

.product-list {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 21px;


   /* Временно для сетки */
   list-style: none;
   min-height: 318px;
   background-color: rgba(68, 216, 236, 0.377);
   outline: 3px solid red; 
}

.popular-conpanies-list {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  width: 940px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 85px;


   /* Временно для сетки */
   list-style: none;
   min-height: 310px;
   background-color: rgba(68, 216, 236, 0.377);
   outline: 3px solid red; 
}

.popular-conpanies-list li {
  width: 220px;
  height: 145px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;


   /* Временно для сетки */
   list-style: none;
   outline: 3px solid blue; 
}

.services {
  width: auto;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 60px;

   /* Временно для сетки */
   list-style: none;
   min-height: 522px;
   background-color: rgba(68, 216, 236, 0.377);
   outline: 3px solid red; 
}

.main-company-info {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 86px;
  padding: 0;

   /* Временно для сетки */
   list-style: none;
   min-height: 390px;
   background-color: rgba(68, 216, 236, 0.377);
   outline: 3px solid red; 
}

.page-footer {
  width: auto;
  height: 300px;
  margin: 0 auto;
  padding: 0;


   /* Временно для сетки */
   list-style: none;
   outline: 3px solid blue; 
}

.page-footer-navigation {
  /*display: flex;
  justify-content: space-between;*/
  width: 940px;
  height: 193px;
  margin: 0 auto;
  padding: 0;


   /* Временно для сетки */
   list-style: none;
   outline: 3px solid blue; 
}

.page-footer-info {
  /*display: flex;
  justify-content: space-between;*/
  width: 940px;
  height: 107px;
  margin: 0 auto;
  padding: 0;


   /* Временно для сетки */
   list-style: none;
   outline: 3px solid yellow; 
}

.footer-navigation-container {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0;
  padding: 0;


   /* Временно для сетки */
   min-height: 68px;
   list-style: none;
   outline: 3px solid green; 
}

.footer-info-container {
  display: flex;
  justify-content: space-between;
  width: 940px;
  height: 125px;
  margin: 0;
  padding: 0;


   /* Временно для сетки */
   list-style: none;
   outline: 3px solid red; 
}

.footer-contacts-container {
  width: 330px;
  height: 125px;
  margin: 0 auto;
  padding: 0;


   /* Временно для сетки */
   list-style: none;
   outline: 3px solid blue; 
}

.footer-navigation-list {
  display: flex;
  justify-content: space-between;
  width: 720px;
  margin: 0;
  padding: 0;


   /* Временно для сетки */
   min-height: 68px;
   list-style: none;
   outline: 3px solid blue; 
}

.footer-offers-list {
  display: flex;
  justify-content: space-between;
  width: 610px;
  height: 125px;
  margin: 0 auto;
  padding: 0;


   /* Временно для сетки */
   list-style: none;
   outline: 3px solid white; 
}

.page-footer-info {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  padding: 0;


   /* Временно для сетки */
   min-height: 68px;
   list-style: none;
   outline: 3px solid blue; 
}

.catalog-navigation {
  display: flex;
  justify-content: flex-start;
  width: 940px;
  margin: 0 auto;
  padding: 0;


   /* Временно для сетки */
   min-height: 59px;
   list-style: none;
   outline: 3px solid blue; 
}

.h1-title {
  width: 940px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0;


   /* Временно для сетки */
   min-height: 89px;
   list-style: none;
   outline: 3px solid blue; 
}

.catalog-container {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  padding: 0;


   /* Временно для сетки */
   min-height: 1052px;
   list-style: none;
   outline: 3px solid blue; 
}

.filer-form-container form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 220px;
  margin: 0;
  padding: 0;


   /* Временно для сетки */
   min-height: 1052px;
   list-style: none;
   outline: 3px solid red; 
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 220px;
  margin: 0;
  padding: 0;


   /* Временно для сетки */
   min-height: 1052px;
   list-style: none;
   outline: 3px solid red; 
}

.filter-title-container {
  width:220px; 
  margin: 0;
  padding: 0;


   /* Временно для сетки */
   min-height: 38px;
   list-style: none;
   outline: 3px solid red; 
}

.filter-container {
  width:220px; 
  margin: 0;
  padding: 0;


   /* Временно для сетки */

   list-style: none;
   outline: 3px solid red; 
}


.catalog-product-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 700px;
  margin: 0;
  padding: 0;


   /* Временно для сетки */
   min-height: 1052px;
   list-style: none;
   outline: 3px solid green; 
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin: 0;
  padding: 0;


   /* Временно для сетки */
   min-height: 38px;
   list-style: none;
   outline: 3px solid red; 
}

.sorting-container ul {
  display: flex;
  justify-content: space-between;
  width: 481px;
  margin: 0;
  padding: 0;


   /* Временно для сетки */
   min-height: 38px;
   list-style: none;
   outline: 3px solid red; 
}

.sorting-container .h2-title {
  margin: 0;
  padding: 0;
  width: 218px;

   /* Временно для сетки */
   min-height: 38px;
   outline: 3px solid red; 
}

.product-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 700px;
  margin: 0;
  padding: 0;


   /* Временно для сетки */
   min-height: 993px;
   list-style: none;
   outline: 3px solid red; 
}

.product-card {
  width: 220px;
  margin: 0;
  padding: 0;


   /* Временно для сетки */
   min-height: 318px;
   list-style: none;
   outline: 3px solid yellow; 
}

.pop-up-cart {
  /* скрыто временно для сетки */
  display: none;
}

.page-numder-container {
  display: flex;
  justify-content: flex-start;
  width: 700px;
  margin: 0;
  margin-left: auto;
  margin-top: 52px;
  padding: 0;


   /* Временно для сетки */
   min-height: 38px;
   list-style: none;
   outline: 3px solid blue; 
}

.gray-wide-background {
  width: auto;
  margin: 0 auto;
  margin-left: auto;
  margin-top: 60px;
  padding: 0;


   /* Временно для сетки */
   min-height: 261px;
   list-style: none;
   outline: 3px solid blue; 
}















 
